/* =================================== HERO ================================= */
#hero {
    background-image: url("../images/pexels-taryn-elliott-4840134.jpg");
}

/* ======================= STORY OF TWILIGHT TIMBERS ================== */

#story-of-twilight-timber {
    padding: 30px 60px;
}

#story-of-twilight-timber h2 {
    text-align: center;
    margin-bottom: 30px;
}

.story-of-twilight-timber-content {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    
}

/* .story-of-twilight-timber-content p {
    text-align: justify;
} */

.story-of-twilight-timber-info {
    width: 100%;
}

.story-of-twilight-timber-image img {
    width: 90%;
    border-radius: 10px;
}

/* =========================== MISSION AND VALUES ============================ */

#misson-and-values {
    background: url(../images/pexels-rachel-claire-4577179.jpg);
    color: white;
}

.mission-and-values-section {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 80px 100px;
}

.mission-and-values-content-section {
    display: flex;
    gap: 40px;
    align-items: stretch;
    justify-content: space-around;
}

.mission-and-values-item {
    width: 25%;
    height: auto;
    padding: 30px 15px;
    text-align: center;
    border: .5px dashed rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

/* ================================ OUR TEAM ============================ */

.our-team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.team-member {
    position: relative;
    width: 30%;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.team-member img {
    width: 100%;
}

.team-overlay {
    position: absolute;
    bottom: 0;
    padding: 7px 15px;
    height: 40px;
    width: 100%;
    background-color: rgba(38, 47, 38, 0.8);
    color: white;
    text-align: center;
    opacity: 0;
}

.team-member:hover .team-overlay {
    opacity: 1;
    transition: .5s ease-in-out;
}

/* =================================== FAQ ================================= */

.faq-button {
    text-align: center;
}

.faq-button a {
    font-size: 1.2rem;
    font-style: italic;
    color: black;
}

#faq {
    padding: 30px 70px;
}

.faq-search {
    margin-bottom: 40px;
    text-align: center;
}

.faq-search input {
    width: 80%;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.faq-item {
    margin-bottom: 30px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
}

.arrow {
    font-size: 1.8rem;
    transform: rotate(-50%);
    transition: transform .3s ease;
}

.faq-answer {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0 25px;
    background-color: antiquewhite;
    margin-top: 5px;
    border-radius: 5px;
    transition: height .5s ease, padding .5s ease;
}

.faq-answer.show {
    padding: 10px 25px;
  }
  
  .faq-answer p {
    margin: 0;
  }