/* =================================== HERO ================================= */
#hero {
    background-image: url("../images/pexels-taryn-elliott-4840134.jpg");
}

/* ================ CONTACT FORM AND NEWSLETTER ================= */

.contact-form-and-newsletter-section {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.name-and-email {
    display: flex;
    gap: 20px;
}

.name-and-email input {
    width: 300px;
    height: 40px;
} 

.contact-name,
.form-group textarea  {
    width: 100%;
}

.form-group input, 
.form-group textarea {
    border-radius: 20px;
    border: 2px solid #e1d9bd;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.contact-form button, .newsletter button {
    background-color: #e1d9bd;
    color: #212529;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;

}

.newsletter {
    background: url(../images/pexels-lum3n-44775-167699.jpg);
    padding: 40px 30px;
    border-radius: 20px;
}

.newsletter h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.newsletter p {
    margin-bottom: 20px;
    font-size: .9rem;
}

.newsletter button, 
.newsletter input {
    width: 100%;
}

/* ===================== CONTACT DETAILS ====================== */

.contact-details-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
}

.contact-details-item {
    width: 30%;
    background-color: #e1d9bd;
    border-radius: 20px;
    padding: 30px;
}

.contact-details-item a {
    color: #000;
}

.contact-details-item-inline {
    display: flex;
    gap: 10px;
    align-items: start;
}

.contact-details-item-inline i {
    font-size: 1.3rem;
}

/* ============================ MAP =========================== */

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 20px;
}

/* =========================== FAQ AND OPENING HOURS ============================ */

.faq-ans-opening-hours-container {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.faq-answer {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    margin-top: 10px;
    font-size: .9rem;
    color: #555;
}

.toggle-icon {
    font-size: 1.2rem;
    color: #333;
}

.faq-question.active .toggle-icon {
    transform: rotate(45deg);
}

.opening-hours-items {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.different-timing {
    width: 50%;
    text-align: center;
    margin: 10px auto;
}