* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.all-sections {
  margin: 50px 70px;
}

.main-headings {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: black;
  border-radius: 20px;
}

/* =================================== HEADER ================================= */

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  margin-left: 30px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* =================================== FOOTER ================================= */

footer {
  padding: 50px;
  color: #fff;
  background-color: black;
  line-height: 1.5;
}

footer a, footer p {
  font-size: 0.8rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h4 {
  position: relative;
  display: inline-block;
  text-decoration: none;

}

footer h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width .3s ease;
}

footer h4:hover::after {
  width: 100%;
}

.footer-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.copyright  {
  text-align: center;
  padding-top: 30px;
}