* {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4;
}

a {
  text-decoration: none !important;
}

.all-sections {
  margin: 80px 100px;
}

.main-headings {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sub-headings {
  font-style: italic;
  text-align: center;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: black;
  border-radius: 20px;
}

.button:hover {
  background-color: #333;
  box-shadow: 0 4px 6px rgba(111, 191, 115, 0.7);
  transform: translateY(-2px);
  transition: .5s ease;
}

/* =================================== HEADER ================================= */

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  margin-left: 30px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* =================================== HERO ================================= */

#hero {
  /* background-image: url("../images/pexels-taryn-elliott-4840134.jpg"); */
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
}

.hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-section-heading h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.hero-section-description p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

/* =================================== FOOTER ================================= */

footer {
  color: #fff;
  /* background-color: black; */
  background-image: url(../images/pexels-iriser-1438994.jpg);
  line-height: 1.5;
}

.footer {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

footer a, footer p, li {
  font-size: 0.8rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h5 {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer h5::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width .3s ease;
}

footer h5:hover::after {
  width: 100%;
}

.footer-section {
  display: flex;
  gap: 120px;
}

.footer-logo h3 {
  margin-bottom: 20px;
}

.footer-social-links i {
  margin-right: 10px;
}

.quick-links ul {
  padding: 0;
  margin: 0;
}

.opening-hours-list {
  padding: 0;
  margin: 0;
}

.opening-hours-list li {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin: 5px;
}

.special-note {
  margin-top: 20px;
}

.copyright  {
  text-align: center;
  padding-top: 30px;
}